ul {
  list-style: none;
}

.listButton {
  display: flex;
}

.listButtonItem {
  margin: 20px;
}

.button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: orange;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: yellow;
}
